a{color: #0D8134; text-decoration: none;}
a:hover{text-decoration: underline;}
a:visted{color: #0D8134}

.logo{max-width: 300px; max-height: 40px;}

.footer{text-align: center; margin-top: 10px; padding-top: 10px;}

code{
  padding:2px 4px;
  border-radius:4px;
  color: #FFFFFF;
  background-color: #0D8134;
}

.database-table-name {
  background-color: #CB7E01;
}