<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{static}}/bulma/css/bulma.min.css" />
    <script defer src="{{static}}/alpine/alpine.js"></script>
    <!--<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>-->

    <link rel="stylesheet" href="{{static}}/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{static}}/style.css" />
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>

  <nav class="navbar is-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{home}}">
        <img src="static/images/logo.png" height="28">
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a href="{{home}}" class="navbar-item has-text-weight-bold">
          {{doc_title}}
        </a>
  
        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            Sections
          </a>
        
  
          <div class="navbar-dropdown">
            {% for section in sections %}
              <a href="{{section.getHtmlName()}}" class="navbar-item">
                {{section.title}}
              </a>
            {% endfor %}
          </div>
        </div>

        <div class="navbar-item"
          x-data='{
          search_index: {{search|safe|tojson}},
          results: [],
          search(e) {
            console.log("search: " + e.target.value)
          }}'>
          <input type="input" @keydown="search" class="input is-normal is-rounded" id="search-nav" placeholder="Search" />
        </div>

      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <div class="buttons">
            <a href="https://givingcredit.org" class="button" style="color: #555; background-color: #FEBF58;">
              <strong>Back to main site</strong>
            </a>
          </div>
        </div>
      </div>
  
    </div>
  </nav>

  <div class="container">
    <div class="content" id="main">
      {% block content %}{% endblock %}
    </div>
    <div class="footer">
      Made with <a href="https://github.com/dhenderson/datadocs">Datadocs</a>
    </div>
  </div>
</body>

</html>
