{% extends "base.html" %}
{% block title %}{{docTitle}}{% endblock %}
{% block subheader %}{{docTitle}}{% endblock %}
{% block search %}
  {{search}}
{% endblock %}
{% block Sections %}
{{Sections}}
{% endblock %}
{% block content %}

<div class="meta-container">
  <img src="static/images/logo.png" />
  <div class="meta-title">{{docTitle}}</div>
</div>
<div class="row">
  <div class="col-md-12">
    {% if content %}
    {{content|safe}}
    {% endif %}
    <h1>Sections</h1>
    <table class="table">
      <tr>
        <th>Section</th>
        <th>Description</th>
        <th>Fields</th>
      </tr>
      {% for section in sections %}
      <tr>
        <td>
          <a href="{{section.getHtmlName()}}">
            {% if section.title %}
            {{section.title}}
            {% else %}
            {{section.name}}
            {% endif %}
          </a>
        </td>
        <td>{{section.description}}</td>
        <td><span class="badge">{{section.countFields()}}</span></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
