{% extends "base.html" %}
{% block title %}{{doc_title}}{% endblock %}
{% block subheader %}{{doc_title}}{% endblock %}
{% block search %}
  {{search}}
{% endblock %}
{% block Sections %}
  {{Sections}}
{% endblock %}
{% block content %}

<div class="">
  <div class="block mt-6 mb-6">

      {{content|safe}}
    
  </div>

  {% for group in groups %}
  <div class="box">
    <h2 class="title">{{group.title}}</h2>
    <p>
      {{group.description}}
    </p>
    <ul>
    {% for section in group.sections %}
      <li>
        <a href="{{section.getHtmlName()}}">
          {% if section.title %}
          {{section.title}}
          {% else %}
          {{section.name}}
          {% endif %}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  {% endfor %}

</div>
{% endblock %}
