{% extends "base.html" %}
{% block title %}
  {% if section.title %}
    {{section.title}}
  {% else %}
    {{section.name}}
  {% endif %}
{% endblock %}
{% block search %}
  {{search}}
{% endblock %}
{% block sections %}
  {{sections}}
{% endblock %}
{% block content %}

<div class="mt-6 mb-6">
  <h1 class="title">
    {{section.title}}
  </h1>
  <div class="block has-text-grey is-size-4">{{section.description}}</div>
</div>

<!-- optional markdown content -->
{% if content %}
{{content|safe}}
{% endif %}

{% for table in section.tables %}
{% set table_loop = loop %}
<div class="section box">
  <div class="">
    <section id="{{table.name}}">
      <h2>{{table.title}}</h2>
      <div class="block">
        <code class="database-table-name">{{table.name}}</code>
      </div>
      <div class="mt-6 mb-6 is-size-5 has-text-grey">{{table.description}}</div>
    </section>
  </div>
  <div class="">
    <table class="table is-striped">
      <thead>
        <tr>
          <th>Field</th>
          <th>Description</th>
          <th>Type</th>
        </tr>
      </thead>
      <tbody>
        {% for field in table.fields %}
        <tr class="field">
          <td>
            <section id="field-{{table_loop.index}}-{{loop.index}}">
              <code>{{field.name}}</code>
              {% if field.private %} <i class="fa fa-lock mr-2" title="Field is private"></i>{% endif %}
            </section>
          </td>
          <td>{{field.description}}</td>
          <td>
            {% if field.data_type == "Boolean" %}
              <i class="fa fa-toggle-off" title="Boolean"></i>
            {% elif field.data_type == "Date" %}
              <i class="fa fa-calendar" title="Date"></i>
            {% elif field.data_type == "Text" %}
              <i class="fa fa-paragraph" title="Text"></i>
            {% elif field.data_type == "Categorical" %}
              <i class="fa fa-list-ul" title="Text"></i>
            {% elif field.data_type == "Numeric" %}
              <i class="fa fa-hashtag" title="Numeric"></i>
            {% elif field.data_type == "JSON" or field.data_type == "YAML" %}
              <i class="fa fa-code" title="Code"></i>
            {% endif %}
              {{field.data_type}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endfor %}

{% endblock %}
